body{
   
    margin: 0;
     padding: 0; 
    background-image: linear-gradient(rgba(10, 10, 247, 0.555),rgba(214, 0, 0, 0.726),rgb(207, 184, 184));
    height: 100vh;
   
    background-repeat:no-repeat;
   
    
}
h1{
    text-align: center;
}
.button1{
    border: 2px solid black;
    border-radius: 40px;
    height: 50px;
    background-color: aqua;
  float: left;
  margin-left: 300px;
  margin-top: 100px;
 
}
.button2{
    border: 2px solid black;
    border-radius: 40px;
    height: 50px;
    background-color: rgb(0, 17, 255);
   float: right;
   margin-right: 300px;
   margin-top: 100px;
}
.comp1{
    border:4px solid black;
    width:500px;
    height: 250px;
    border-radius: 30px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    bottom: 20px;
    left: 30px;
}
.comp2{
    border:4px solid black;
    width:500px;
    height: 250px;
    border-radius: 30px;
    background-color: rgb(38, 0, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    bottom: 20px;
    right: 30px;
}